*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}


body{
  color: #ffffff;
  background: #000000;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color: #ffffff;
}

button{
  cursor: pointer;
}

.btn{
  background: #FF0000;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
  color: #ffffff;
  border: none;
  outline: none;
  transition: 0.4s;
}

.btn:hover{
  opacity: 0.8;
}


.special{
  color: #FF0000;
}
/* 
p{
  font-size: 20px;
} */