.footer{
    padding: 3rem 4rem;
    background: #4E4E4E;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}


.icon{
    font-size: 30px;
}
.footer ul a{
    color: #ffffff;
    font-size: 20px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.footer-left p{
    font-size: 20px;
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* .social-icons img{
    width: 30px;
    cursor: pointer;
    transition: 0.4s;
} */

/* .social-icons img:hover{
    transform: scale(1.3);
} */
/* .social-icons:last-child{
    width: 15px;
} */

.footer-center h3{
    margin-bottom: 2rem;
}

.footer-center ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-right h3{
    margin-bottom: 2rem;
}

.footer-right ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 950px){
    .footer a{
        font-size: 18px;
    }

    .footer-left p{
        font-size: 18px;
    }
    .icon{
        font-size: 25px;
    }

    .footer-center ul, .footer-right ul{
        gap: 1rem;
    }

    .footer-center ul a, .footer-right ul a{
        font-size: 18px;
    }

    .social-icons img{
        width: 25px;
    }
}

@media (max-width: 600px){

    .logo h1{
        font-size: 25px;
    }

    .footer-text p{
        font-size: 14px;
    }
    .footer{
        grid-template-columns: 1fr;
        place-items: center;
    }

    .footer-left .social-icons{
        align-items: center;
    }
    .footer-text{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .icon{
        font-size: 20px;
    }

    .footer-left .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .social-icons{
        align-items: center;
        margin-left: 30%;
    }

    .footer-center, .footer-right{
        align-items: center;
        text-align: center;

    }

    .footer-center ul a, .footer-right ul a{
        font-size: 16px;
    }

    .footer-right h3, .footer-center h3{
        margin-bottom: 1rem;
    }
}